# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.env
venv/
ENV/
*.sqlite3
*.log

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.DS_Store
coverage/
build/
dist/
*.tgz
.cache/
.next/
out/

# Exclude mmba-ai-programmers folder
mmba-ai-programmers/